[submodule "turtlebot_simulator"]
    path = turtlebot_simulator
    url = https://github.com/danibyay/turtlebot_simulator
[submodule "turtlebot_interactions"]
    path = turtlebot_interactions
    url = https://github.com/danibyay/turtlebot_interactions
[submodule "turtlebot"]
    path = turtlebot
    url = https://github.com/turtlebot/turtlebot
